.login,
.image {
    min-height: 100vh;
}

.bg-image {
    background-image: url('/images/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
}

.login {
    color: white;
}

.bg {
    background-color: #1D4743;
}
